@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ray';
    src: url("@/assets/fonts/ray.ttf");
  }
  @font-face {
    font-family: 'mono';
    src: url("@/assets/fonts/JetBrainsMono-Light.ttf");
  }
  @font-face {
    font-family: 'monoextralight';
    src: url("@/assets/fonts/JetBrainsMono-ExtraLight.ttf");
  }
}